* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.principal {
    text-align: center;
}

.input  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.resultados {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

textarea {
    width: 350px;
    height: 180px;
}